/* General Styling */
body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

/* Navigation Styling */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #555555;
    padding-top: 20px;
}

.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.logo img {
    max-width: 100px;
    height: auto;
    display: block;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    border:none;
    background: none;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* Content Styling */
#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

/* Link Styling */
a {
    color: #009579;
}

/* Header Styling */
h1 {
    font-size: 2em;
    color: #333;
    margin: 0 auto 1em;
    font-weight: 700;
    text-align: center;
}

/* Form Container */
form {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.button-container .left-buttons{
    display: flex;
    gap: 0.5em;
}

.button-container .right-buttons{
    margin-left: auto;
}

#add-item {
    background: #b1dbaf; 
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#add-item:hover {
    background: #9dc6a4; 
}

/* Remove Item Button */
#remove-item {
    background: #F09292; 
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#remove-item:hover {
    background: #e07d7d; 
}

/* Generate PDF Button */
#generate-pdf {
    background: #75A9F6;
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#generate-pdf:hover {
    background: #5c8bf2;
}

/* Form Elements */
label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
    width: calc(100% - 2em); 
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
    box-sizing: border-box; 
}

/* Fieldset Styling */
fieldset {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

legend {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

/* Items and Quantity Styling */
fieldset label {
    display: inline-block;
    width: 45%;
}

fieldset input[type="text"],
fieldset input[type="number"] {
    display: inline-block;
    width: 45%;
    margin-right: 1em;
}

fieldset input[type="text"] {
    margin-bottom: 0;
}

/* Upload Form Styling */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.small-text {
    font-size: 0.8em;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

#upload-form img {
    width: 200px;
    margin-bottom: 10px;
}

/* Progress Bar Styling */
#progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    height: auto;
    min-height: 100px;
}

#circular-progress {
    width: 50px; 
    height: 50px;
    border: 5px solid #e7e6e6; 
    border-top: 5px solid #555555; 
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin-bottom: 1em;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

/* Status and Download */
#upload-status {
    margin-top: 10px;
    font-weight: bold;
}

#download-container {
    margin-top: 10px;
    text-align: center;
}

#download-btn button {
    background: #b1dbaf;
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#download-btn button:hover {
    background: #9dc6a4;
}

/* Submit Button */
#submit {
    background: #75A9F6;
    color: #fff;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit:hover {
    background: #5c8bf2; 
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 1em;
    }

    fieldset label,
    fieldset input[type="text"],
    fieldset input[type="number"] {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
}