<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPDF</title>
    <meta name="current-view" content="{{ view }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/edit.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}" defer></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <nav class="nav">
        <div class="logo-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/GN_Store_Nord_logo.svg.png') }}"
                    alt="GN_Store_Nord_logo">
            </div>
        </div>
        <a id="show-editor" class="nav__link">Editor</a>
        <a id="show-upload" class="nav__link">Upload</a>
    </nav>
    <div id="app">
        <div id="editor-view" style="display: none;">
            <h1>Generate PDF</h1>
            <form id="pdf-form" action="/pdf/generate_pdf" method="post">
                <label for="recipient_name">Recipient's Name:</label>
                <input type="text" id="recipient_name" name="recipient_name" required><br>

                <label for="req_number">Request Number:</label>
                <input type="text" id="req_number" name="req_number" required><br>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required><br>

                <fieldset id="items-fieldset">
                    <legend>Items</legend>
                    <div id="item-container">
                        <div class="item-row">
                            <label for="item1">Product:</label>
                            <input type="text" id="item1" name="item1" maxlength="30" required>
                            <label for="item1_qty">Quantity:</label>
                            <input type="number" id="item1_qty" name="item1_qty" required>
                        </div>
                    </div>
                </fieldset>

                <label for="serial_number">Serial Number:</label>
                <input type="text" id="serial_number" name="serial_number" maxlength="20"><br>

                <div class="button-container">
                    <div class="left-buttons">
                        <button type="button" id="add-item">Add Item</button>
                        <button type="button" id="remove-item">Remove Item</button>
                    </div>
                    <div class="right-buttons">
                        <input type="submit" id="generate-pdf" value="Generate PDF">
                    </div>
                </div>
            </form>
        </div>

        <div id="upload-view" style="display: none;">
            <h1>Upload PDF</h1>
            <form id="upload-form" method="post" enctype="multipart/form-data">
                <img src="{{ url_for('static', filename='images/upload_folder.png') }}" alt="upload_folder_png">
                <label for="files" class="choose-file-label">Choose file</label>
                <input type="file" id="files" name="files[]" accept=".pdf" multiple>
                <br>
                <button id="submit" type="submit">Upload</button>
                <p class="small-text">Please note that only .pdf file types are allowed</p>
            </form>

            <div id="progress-container">
                <div id="progress" style="display: none;">
                    <div id="circular-progress"></div>
                    <p class="small-text">Uploading...</p>
                </div>
                <div id="upload-status" style="display: none;"></div>
                <div id="download-container" style="display: none;">
                    <a id="download-btn"><button>Download PDF</button></a>
                    <p class="small-text" id="p.success">Your files have successfully been modified by the system. <br>
                        Please check if any files have been given the name 'Manual_check'. <br>
                        These files need to be manually checked, as the system was unable to extract the relevant
                        information.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>